html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  overflow: hidden;
}

.body-container {
  height: calc(100% - 50px);
}

:root {
  --main-header-color: #222222;
  --main-content-color: #f4f4f6;


  --fire: #ff4422;
  --flying: #6598fd;
  --grass: #77cc55;
  --water: #3399ff;
  --poison: #aa5599;
  --bug: #aabb22;
  --normal: #b8b8a7;
  --electric: #fecb32;
  --ground: #d2b053;
  --fairy: #ffaaff;
  --fight: #92482b;
  --psychic: #ef4f83;
  --steel: #aaaabb;
  --ice: #77ddff;
  --ghost: #4a4a8e;
  --rock: #4a4a8e;
  --dragon: #6b52c3;
  --dark: #745645;
}